body {
  background-color: #f3f3f3;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Hachi Maru Pop', cursive;
}

/* class selectors */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.box {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px 25px 5px 33px;
  background-color: rgba(25,255,255,0.5);
}

.solid {
  border: 1px solid;
}

.dashed {
  border: 1px dashed;
}

.double {
  border: 1px double;
}

.transparent-box {
  background-color: rgba(25,255,255,015);
}

.border-radius {
  border-radius: 20px 20px 15px 15px;
}

.circle {
  border-radius: 50%;
}

#justify {
  text-align: justify;
  width: 350px;
}

p > span {
  color: blueviolet;
}

#first-span ~ span { font-size: 18px; }
span { font-size: 16px; }

/* main div {
  border: 3px dotted blue;
} */